In [1]:
import pandas as pd

In [2]:
periodic_data = pd.read_csv('PubChemElements_all.csv')

In [5]:
periodic_data.head() #See the first 5 rows

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808

In [6]:
periodic_data.tail() #see the last 5 rows

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
113,114,Fl,Flerovium,289.191,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,294.214,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [7]:
periodic_data.describe()#Get th statistic for columns with the nos.

,AtomicNumber,AtomicMass,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,MeltingPoint,BoilingPoint,Density
count,118.000000,118.000000,95.000000,99.000000,102.000000,57.000000,103.000000,93.000000,96.000000
mean,59.500000,146.607635,1.732316,209.464646,7.997255,1.072140,1273.740553,2536.212473,7.608001
std,34.207699,89.845304,0.635187,38.569130,3.339066,0.879163,888.853859,1588.410919,5.878692
min,1.000000,1.008000,0.700000,120.000000,3.894000,0.079000,0.950000,4.220000,0.000090
25%,30.250000,66.480000,1.290000,187.000000,6.020500,0.470000,516.040000,1180.000000,2.572500
50%,59.500000,142.573850,1.620000,209.000000,6.960000,0.754000,1191.000000,2792.000000,7.072000
75%,88.750000,226.777165,2.170000,232.000000,8.998500,1.350000,1806.500000,3618.000000,10.275250
max,118.000000,294.214000,3.980000,348.000000,24.587000,3.617000,3823.000000,5869.000000,22.570000

In [8]:
periodic_data.iloc[35] #all the info of row 35

AtomicNumber                           36
Symbol                                 Kr
Name                              Krypton
AtomicMass                           83.8
CPKHexColor                        5CB8D1
ElectronConfiguration    [Ar]4s2 3d10 4p6
Electronegativity                       3
AtomicRadius                          202
IonizationEnergy                       14
ElectronAffinity                      NaN
OxidationStates                         0
StandardState                         Gas
MeltingPoint                       115.79
BoilingPoint                       119.93
Density                          0.003733
GroupBlock                      Noble gas
YearDiscovered                       1898
Name: 35, dtype: object

In [10]:
periodic_data.iloc[35:45, :4] #slicing like we do in the array

    AtomicNumber Symbol        Name  AtomicMass
35            36     Kr     Krypton    83.80000
36            37     Rb    Rubidium    85.46800
37            38     Sr   Strontium    87.60000
38            39      Y     Yttrium    88.90580
39            40     Zr   Zirconium    91.22000
40            41     Nb     Niobium    92.90640
41            42     Mo  Molybdenum    96.00000
42            43     Tc  Technetium    97.90721
43            44     Ru   Ruthenium   101.10000
44            45     Rh     Rhodium   102.90550

In [11]:
periodic_data.iloc[5]
periodic_data.iloc[30:,:4]

     AtomicNumber Symbol         Name  AtomicMass
30             31     Ga      Gallium    69.72000
31             32     Ge    Germanium    72.63000
32             33     As      Arsenic    74.92159
33             34     Se     Selenium    78.97000
34             35     Br      Bromine    79.90000
..            ...    ...          ...         ...
113           114     Fl    Flerovium   289.19100
114           115     Mc    Moscovium   290.19600
115           116     Lv  Livermorium   293.20500
116           117     Ts   Tennessine   294.21100
117           118     Og    Oganesson   294.21400

[88 rows x 4 columns]

In [15]:
periodic_data.iloc[5]
periodic_data.iloc[30:,:4] #first 4 columns not including the 4th index ie 5th column

     AtomicNumber Symbol         Name  AtomicMass
30             31     Ga      Gallium    69.72000
31             32     Ge    Germanium    72.63000
32             33     As      Arsenic    74.92159
33             34     Se     Selenium    78.97000
34             35     Br      Bromine    79.90000
..            ...    ...          ...         ...
113           114     Fl    Flerovium   289.19100
114           115     Mc    Moscovium   290.19600
115           116     Lv  Livermorium   293.20500
116           117     Ts   Tennessine   294.21100
117           118     Og    Oganesson   294.21400

[88 rows x 4 columns]

In [16]:
#Access info by name with the help of loc
periodic_data.loc[:,'Symbol']

0       H
1      He
2      Li
3      Be
4       B
       ..
113    Fl
114    Mc
115    Lv
116    Ts
117    Og
Name: Symbol, Length: 118, dtype: object

In [21]:
periodic_data['BoilingPointC'] = periodic_data['BoilingPoint']-273.15 
# Can only use the name of the column directly, not the name of the row.  Use `.loc` when you're doing more complicated things than just looking at a single column

In [19]:
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered,BoilingPointC
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766,-252.87
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868,-268.93
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817,1341.85
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798,2470.85
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808,3999.85

In [20]:
periodic_data.to_csv('periodic_table_new.csv')